---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts limit 5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <article class="post-content">
          {{ post.content }}
          <div class="post-meta-right">{% if post.category %} Category: {{ post.category }}{% endif %}</div>
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
