#blog-archives h2,
#blog-archives time
{
	color: #aaa;
}
#blog-archives article
{
	padding: 1em 0 1em;
	position: relative;
}
#blog-archives article:last-child
{
	background: none;
}
#blog-archives h2
{
	display: none;
}
#blog-archives h1
{
	color: #222;
	font-size: 1.2em;
	margin-top: 0em;
	margin-bottom: 0em;
}
#blog-archives h1 a
{
	color: inherit;
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
}
#blog-archives h1 a:hover
{
	text-decoration: underline;
}
#blog-archives h1 a:hover
{
	color: #0181eb;
}
#blog-archives a.category,#blog-archives time
{
	color: #aaa;
}
#blog-archives .entry-content
{
	display: none;
}
#blog-archives time
{
	font-size: .9em;
	line-height: 1.2em;
}
#blog-archives time .month,#blog-archives time .day
{
	display: inline-block;
}
#blog-archives time .month
{
	text-transform: uppercase;
}
#blog-archives p
{
	margin-bottom: 1em;
}
#blog-archives a,#blog-archives .entry-content a
{
	color: inherit;
}
#blog-archives a:hover,#blog-archives .entry-content a:hover
{
	color: #0181eb;
}
@media only screen and (min-width: 550px)
{
	#blog-archives article
	{
		margin-left: 5em;
	}
	#blog-archives h2
	{
		display: inline-block;
		/*float: left;*/
		font-weight: normal;
		margin-bottom: .3em;
		position: relative;
		top: -1px;
	}
	#blog-archives time
	{
		left: 0em;
		position: absolute;
		text-align: right;
		top: 1.4em;
	}
	#blog-archives .year
	{
		display: none;
	}
	#blog-archives article
	{
		padding-bottom: .7em;
		padding-left: 4.5em;
	}
	#blog-archives a.category
	{
		line-height: 1.1em;
	}
}

.footer__copyright {
    display: block;
    margin-bottom: .7em;
}
