<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
   <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
   
   <span class="sidebar-nav-item">Categories</span>
   <a class="sidebar-nav-item{% if page.url == '/monthly.html' %} active{% endif %}" href="https://raw.githubusercontent.com/f5f6/f5f6.github.io/master/monthly.html">&gt; Monthly</a>
	 <a class="sidebar-nav-item{% if page.url == '/weekly.html' %} active{% endif %}" href="/weekly.html">&gt; Weekly</a>
   <a class="sidebar-nav-item{% if page.url == '/blog.html' %} active{% endif %}" href="/blog.html">&gt; Blog</a>
   <a class="sidebar-nav-item{% if page.url == '/project.html' %} active{% endif %}" href="/project.html">&gt; Project</a>
	 <a class="sidebar-nav-item{% if page.url == '/members/' %} active{% endif %}" href="/members/">Members</a> 
   <a class="sidebar-nav-item{% if page.url == '/all.html' %} active{% endif %}" href="/all.html">Content Index</a>
   <a class="sidebar-nav-item" href="https://github.com/f5f6/f5f6.github.io/wiki/WeeklyDraft">Weekly Draft</a>
   <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
   <a class="sidebar-nav-item{% if page.url == '/help.html' %} active{% endif %}" href="/help.html">Help</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
