<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay theme-base-0c">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/book.html"><i class="fas fa-book"></i> Book</a></li>
              <li><a href="https://github.com/f5f6"><i class="fas fa-fire"></i> Pop</a></li>
              <li><a href="https://github.com/f5f6"><i class="fas fa-cog fa-spin"></i> Tool</a></li>
          </ul>
        </div>
      </div>

      <div id="tocDiv" class="toc-btf"></div>

      <div id="content" class="container content" >
        {{ content }}
        {% include footer.html %}
      </div>
       <button onclick="topFunction()" id="topBtn" class="topButton" title="Go to top">Top</button> 
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <!-- TOC generation -->
    <script type="text/javascript">
          $(document).ready(function() {
              $('#content').toc({
                showAlways:true,
                renderIn:'#tocDiv',
                contentsText:"TOC",
                hideText:'Collapse',
                showText:'Expand'
              });
          });
    </script>

    <script type="text/javascript">
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
                document.getElementById("topBtn").style.display = "block";
            } else {
                document.getElementById("topBtn").style.display = "none";
            }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        } 
    </script>


    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
